<div class="modal-header">
    <h5 class="modal-title">Enter {{ payment_method|title }} Password</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <form id="passwordForm">
        <div class="mb-3">
            <label for="password" class="form-label">{{ payment_method|title }} Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Complete Payment</button>
    </form>
</div> 