{% extends 'app.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center">View Bus Schedules</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Route Name</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Bus Number</th>
        <th>Driver</th>
        <th>Capacity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for schedule in schedules %}
      <tr>
        <td>{{ schedule[0] }}</td>
        <td>{{ schedule[1] }}</td>
        <td>{{ schedule[2] }}</td>
        <td>{{ schedule[3] }}</td>
        <td>{{ schedule[4] }}</td>
        <td>{{ schedule[5] if schedule[5] else 'N/A' }}</td>
        <td>{{ schedule[6] if schedule[6] else 'N/A' }}</td>
        <td>
          <form method="POST" action="{{ url_for('delete_schedule', schedule_id=schedule[0]) }}">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="col-md-6 text-right">
    <a href="/admin_dashboard" class="btn btn-success mb-3">Admin Dashboard</a>
    
    <a href="/admin_logout" class="btn btn-danger mb-3">Logout</a>  <!-- Logout button -->
</div>
</div>
{% endblock %}
